@model TCCGWT.Models.formsModels.loginModel
@{
    ViewBag.Title = "Login";
}
    <main class="form-signin mt-5 text-center container align-items-center">
        
       @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        <div class="form">
            <img src="~/Images/logo_preta.png" width="150px" height="150px"/>
            <hr/>
            <h1 class="h3 mb-3 fw-normal">Entrar</h1>

            <div class="col-form-label ">
                @Html.EditorFor(model => model.userCli, new { htmlAttributes = new { @class = "form-control", } })
                @Html.ValidationMessageFor(model => model.userCli)
            </div>
            <div class="col-form-label">
                @Html.EditorFor(model => model.senhaCli, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                @Html.ValidationMessageFor(model => model.senhaCli)
            </div>

            <button class="w-50 btn btn-lg btn-custom" type="submit" value="logar">Login</button>
        </div>
        }
    </main>
    <br /><br /><br /><br />








