@model TCCGWT.Models.ClienteCadastroModel
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="form-signin mt-5 text-center container align-items-center">       
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form">
        <img src="~/Images/logo_preta.png" width="150px" height="150px" />
        <hr />
        <h1 class="h3 mb-3 fw-normal">Cadastro</h1>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-form-label">
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeCli, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome" } })
                @Html.ValidationMessageFor(model => model.NomeCli, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-form-label">
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailCli, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.EmailCli, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-form-label">
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserCli, new { htmlAttributes = new { @class = "form-control", @placeholder = "Usuário" } })
                @Html.ValidationMessageFor(model => model.UserCli, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-form-label">
            <div class="col-md-10">
                @Html.EditorFor(model => model.SenhaCli, new { htmlAttributes = new { @class = "form-control", type = "password", @placeholder = "Senha" } })
                @Html.ValidationMessageFor(model => model.SenhaCli, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TelefoneCli, new { htmlAttributes = new { @class = "mini-form-control", id = "telefone", @placeholder = "Telefone" } })
                    @Html.ValidationMessageFor(model => model.TelefoneCli, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-6">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CepCli, new { htmlAttributes = new { @class = "mini-form-control", @placeholder="CEP" } })
                    @Html.ValidationMessageFor(model => model.CepCli, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-form-label">
            <div class="col-md-10">
                @Html.EditorFor(model => model.LogradouroCli, new { htmlAttributes = new { @class = "form-control", @placeholder = "Logradouro" } })
                @Html.ValidationMessageFor(model => model.LogradouroCli, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumCli, new { htmlAttributes = new { @class = "mini-form-control", @placeholder ="Número" } })
                    @Html.ValidationMessageFor(model => model.NumCli, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-6">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ComplementoCli, new { htmlAttributes = new { @class = "mini-form-control", @placeholder ="Complemento"} })
                    @Html.ValidationMessageFor(model => model.ComplementoCli, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <button class="w-50 btn btn-lg btn-custom" type="submit" value="Create" style="margin-top: 15px">Criar Conta</button>
        
     </div>
    }
    @section Scripts {
        <script>
            $(document).ready(function () {
                $("#TelefoneCli").inputmask("mask", { "mask": "(99) 9999-99999" });
                $("#CepCli").inputmask("mask", { "mask": "99999-999" });
            });
        </script>
    }
</main>