@model IEnumerable<TCCGWT.Models.Comanda>

@{
    ViewBag.Title = "Comandas";
    Layout = "~/Views/Shared/_LayoutLogadoFunc.cshtml";
}

<h2>Comandas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdComanda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdFunc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdMesa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdComanda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdFunc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdMesa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
