@model TCCGWT.Models.FuncCadastroModel

@{
    ViewBag.Title = "CadastroFunc";
    Layout = "~/Views/Shared/_LayoutLogadoMan.cshtml";
}
<main class="form-signin mt-5 text-center container align-items-center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form">
        <h1>Cadastrar Funcionário</h1>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-form-label">
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeFunc, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome" } })
                @Html.ValidationMessageFor(model => model.NomeFunc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-form-label">
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailFunc, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.EmailFunc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-form-label">
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserFunc, new { htmlAttributes = new { @class = "form-control", @placeholder = "Usuário" } })
                @Html.ValidationMessageFor(model => model.UserFunc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-form-label">
            <div class="col-md-10">
                @Html.EditorFor(model => model.SenhaFunc, new { htmlAttributes = new { @class = "form-control", type = "password", @placeholder = "Senha" } })
                @Html.ValidationMessageFor(model => model.SenhaFunc, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TelFunc, new { htmlAttributes = new { @class = "mini-form-control", @placeholder = "Telefone" } })
                    @Html.ValidationMessageFor(model => model.TelFunc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-6">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NivelAcesso, new { htmlAttributes = new { @class = "mini-form-control", @placeholder = "Nivel de Acesso" } })
                    @Html.ValidationMessageFor(model => model.NivelAcesso, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <button class="w-50 btn btn-lg btn-custom" type="submit" value="Create" style="margin-top: 15px">Cadastrar</button>
    </div>
    }
</main>
<br /><br /><br />