@model IEnumerable<TCCGWT.Models.FuncModel>

@{
    ViewBag.Title = "Funcionarios";
    Layout = "~/Views/Shared/_LayoutLogadoMan.cshtml";
}
<br/>
<div class="container">
    <main class="form-signin mt-5 text-center container align-items-center">
        <h2>Funcionários</h2>
        <table class="table table-hover">
            <tr class="mesa">
                <th>
                    Id
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Email
                </th>
                <th>
                    User
                </th>
                <th>
                    Senha
                </th>
                <th>
                    Telefone
                </th>
                <th>
                    Acesso
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdFunc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeFunc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailFunc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserFunc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SenhaFunc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelFunc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NivelAcesso)
                    </td>
                    <td>
                        @Html.ActionLink("EditFunc", "EditFunc", new { id = item.IdFunc }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdFunc })
                    </td>
                </tr>
            }
        </table>
    </main>
    <a class="w-25 btn btn-lg btn-custom" role="button" href='@Url.Action("CadastroFunc","CadastroFunc","CadastroFunc")'>Novo Funcionário</a>
</div>
<br /><br /><br />