@model IEnumerable<TCCGWT.Models.ClienteModel>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_LayoutLogadoFunc.cshtml";
}
<br />
<div class="contencao" style="font-size:15px;">
    <main class="form-signin mt-5 text-center align-items-center">
        <h2  style="padding-bottom: 20px;">Clientes</h2>
        <table class="table table-hover">
            <tr class="mesa">
                <th>
                    Id
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Email
                </th>
                <th>
                    Usuário
                </th>
                <th>
                    Telefone
                </th>
                <th>
                    CEP
                </th>
                <th>
                    Logradouro
                </th>
                <th>
                    Número
                </th>
                <th>
                    Complemento
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCli)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeCli)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailCli)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserCli)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelefoneCli)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CepCli)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LogradouroCli)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumCli)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComplementoCli)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>
    </main>
</div>
<br /><br /><br />