<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tomoe Sushi</title>
    <asp:ContentPlaceHolder ID="Stylesheets" runat="server">
        <link rel="stylesheet" href="~/Content/Estilo.css" type="text/css" />
    </asp:ContentPlaceHolder>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="letrinhas">
    <nav class="navbar navbar-dark nav-custom fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href='@Url.Action("Index","Home","Home")'><img src="~/Images/branco.png" width="70px" height="70px" class="navbar-brand" /></a>
            <div id="nav-left nav-esquerda">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart3 zoom" viewBox="0 0 16 16" style="color:floralwhite;">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                </a> |
                <a class="navbar-text underline-hover" style="text-decoration:none; color: floralwhite;"> @Request.Cookies["userName"].Value</a>
            </div>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-black" id="offcanvasNavbarLabel" style="color:black;">Menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" width="100%">
                        <li class="nav-item menu-container" style="color:gray;">
                            @Request.Cookies["userName"].Value
                        </li>
                        <li class="nav-item menu-hover" style="margin-top:10px">
                            <a class="nav-link menu-container" href="#" style="color:black">Cardápio</a>
                        </li>
                        <li class="nav-item menu-hover">
                            <a class="nav-link menu-container" href="#" style="color:black">Sobre nós</a>
                        </li>
                        <li class="nav-item menu-hover">
                            <a class="nav-link menu-container" href="#" style="color:black">Contato</a>
                        </li>
                        <li class="nav-item menu-hover">
                            <a class="nav-link menu-container" href='#' style="color:black">Delivery</a>
                        </li>
                        <li class="nav-item menu-hover">
                            <a class="nav-link menu-container" href="@Url.Action("Reservas","Reserva","Reserva")" style="color:black">Reservas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="body-content letrinhas">
        @RenderBody()
        <div class="container">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)
</body>
</html>

