<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tomoe Sushi</title>
    <asp:ContentPlaceHolder ID="Stylesheets" runat="server">
        <link rel="stylesheet" href="~/Content/Estilo.css" type="text/css" />
    </asp:ContentPlaceHolder>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img src="~/Images/logoa.png" width="70px" height="70px" class="navbar-brand" href="#"></img>
            <div id="nav-left">
                <a class="navbar-text"> @Request.Cookies["FuncName"].Value </a>
            </div>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            @Request.Cookies["FuncName"].Value
                        </li>
                        <li class="nav-item menu-hover" style="margin-top: 10px">
                            <a class="nav-link active menu-container" aria-current="page" href='@Url.Action("Home","Index","Home")' style="color:black">Comandas</a>
                        </li>
                        <li class="nav-item menu-hover">
                            <a class="nav-link menu-container" href="#" style="color:black">Clientes</a>
                        </li>
                        <li class="nav-item menu-hover">
                            <a class="nav-link menu-container" href='@Url.Action("Clientes","Cliente","Cliente")' style="color:black">Funcionários</a>
                        </li>
                        <li class="nav-item menu-hover">
                            <a class="nav-link menu-container" href="@Url.Action("Reservas","Reserva","Reserva")" style="color:black">Reservas</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>